{% extends "base.html" %}
{% block title %}Disaster Analysis{% endblock %}
{% block page_content %}
<div id="chart"></div>
<div ng-app="disasterAnalysis" ng-controller="displayGraphsController"  >
<div class="page-header">
  <form role="form">
  <div class="form-group">
    
    <label for="search">Search number of time for the word:</label>
    <input type="text" class="form-control" id="searchWord" ng-model="search">
    <input type="text" class="form-control" ng-model="search" readonly>
  </div>
	
  	<button type="submit" class="btn btn-default" ng-click="sendInfo()" >Submit</button>
 </form>
<div id="container" style="height: 400px"></div>

<script type="text/javascript" charset="UTF-8"> 

	const reduce = Function.bind.call(Function.call, Array.prototype.reduce);
	const isEnumerable = Function.bind.call(Function.call, Object.prototype.propertyIsEnumerable);
	const concat = Function.bind.call(Function.call, Array.prototype.concat);
	const keys = Reflect.ownKeys;

if (!Object.values) {
	Object.values = function values(O) {
		return reduce(keys(O), (v, k) => concat(v, typeof k === 'string' && isEnumerable(O, k) ? [O[k]] : []), []);
	};
}

if (!Object.entries) {
	Object.entries = function entries(O) {
		return reduce(keys(O), (e, k) => concat(e, typeof k === 'string' && isEnumerable(O, k) ? [[k, O[k]]] : []), []);
	};
}
	var output = {{content|tojson}}
	var keysOutput = Object.keys(output);
	var valuesOutput = Object.values(output);
	for (i in output)
	{
		var key = i;
		var val = output[i];
	}
	//console.log(keysOutput)
	//console.log(valuesOutput)
/*	d3.json("data.js", function(data) 
	{
		alert(data.length)
	});
*/
</script>
</div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <link href="/static/css/c3.css" rel="stylesheet" type="text/css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="/static/angular/displayGraphs.js"></script>
    <script src="/static/c3.min.js"></script>
    <script src="/static/d3/graph.js"></script>
    <script type="text/javascript" charset="UTF-8">
    d3.json("",function(data)
{
	console.log("Hello");
})
    </script>
{% endblock %}
