{% extends "base.html" %}
{% block title %}Disaster Analysis{% endblock %}
{% block page_content %}
<div ng-app="disasterAnalysis" ng-controller="indexController"  >
<div class="page-header">
  <form role="form">
  <div class="form-group">
    <label for="search">Search number of time for the word:</label>
    <input type="text" class="form-control" id="searchWord" ng-model="search">
    <input type="text" class="form-control" ng-model="search" readonly>
  </div>
  <button type="submit" class="btn btn-default" ng-click="sendInfo()" >Submit</button>
 </form>

</div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="static/angular/index.js"></script>
{% endblock %}
